<nav class="mt-5">
    <ul class="list-group">
        <li class="list-group-item">
            <%= link_to "Clientes", clientes_path %>
        </li>
        <li class="list-group-item">
            <%= link_to "Mecanicos", mecanicos_path %>
        </li>
        <li class="list-group-item">
            <%= link_to "Equipes", equipes_path %>
        </li>
        <li class="list-group-item">
            <%= link_to "Peças", partes_path %>
        </li>
    </ul>
</nav>