<nav>
    <ul class="nav g-5 text-center my-3">
        <li class="col">
            <%= link_to "Clientes", clientes_path %>
        </li>
        <li class="col">
            <%= link_to "Mecanicos", mecanicos_path %>
        </li>
        <li class="col">
            <%= link_to "Equipes", equipes_path %>
        </li>
        <li class="col">
            <%= link_to "Peças", partes_path %>
        </li>
    </ul>
</nav>